<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.metro.nccc.migration.dao.auth.AuthMapper">
    <resultMap id="DepartmentUserEntityMap" type="com.metro.nccc.migration.model.po.auth.DepartmentUserEntity">
        <result property="departmentPath" column="departmentPath"
                typeHandler="org.apache.ibatis.type.ArrayTypeHandler"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, name, parent_id as parentId,m_order as order,code,type,created_time as createdTime, updated_time as
        updatedTime
    </sql>
    <delete id="delete">
        with RECURSIVE departs as
        (
        select a.id, a.name, a.parent_id,a.type from a_department_records a where id=#{departmentId}
        union all
        select k.id, k.name, k.parent_id,k.type from a_department_records k inner join departs c on c.id = k.parent_id
        )

        delete from a_department_records where id in (select distinct id from departs)
    </delete>

    <!--<select id="getAll" resultType="com.metro.nccc.authority.model.po.RoleEntity" >-->
    <!--SELECT-->
    <!--<include refid="Base_Column_List" />-->
    <!--FROM test_b-->
    <!--</select>-->

    <select id="queryUpper" resultType="com.metro.nccc.migration.model.po.auth.DepartmentEntity">
        with RECURSIVE cte as
            (
            select a.id, a.name, a.parent_id as parentId,a.type from a_department_records a where id=#{parentId}
            union all
            select k.id, k.name, k.parent_id as parentId,k.type from a_department_records k inner join cte c on c.parentId = k.id
            )
        select distinct * from cte;
    </select>

    <select id="query" parameterType="com.metro.nccc.migration.model.po.auth.DepartmentEntity"
            resultType="com.metro.nccc.migration.model.po.auth.DepartmentEntity">
        SELECT
        <include refid="Base_Column_List"/>
        FROM a_department_records
        <if test="id!=null and id !=''">
            WHERE id = #{id}
        </if>
        <if test="parentId!=null and parentId !=''">
            WHERE parent_id = #{parentId}
        </if>
        <if test="type!=null">
            WHERE type = #{type}
        </if>
    </select>

    <select id="pageQuery" resultType="com.metro.nccc.migration.model.po.auth.DepartmentEntity">
        SELECT
        <include refid="Base_Column_List"/>
        FROM a_department_records
        where type !=3
        order by id
        LIMIT #{pageSize} OFFSET #{pageIndex}
    </select>

    <select id="countDeaprt" resultType="java.lang.Integer">
        SELECT COUNT(1) FROM a_department_records
        where type !=3
    </select>

    <select id="queryUserDeparts" resultMap="DepartmentUserEntityMap">
        SELECT
        user_id as userId,departmentPath
        FROM a_department_user_records
        where ${userIds}@>array[user_id]
    </select>

    <update id="update" parameterType="com.metro.nccc.migration.model.po.auth.DepartmentEntity">
        UPDATE
        a_department_records
        SET
        <if test="name != null">name = #{name},</if>
        <if test="parentId>0">parent_id = #{parentId},</if>
        <if test="order != null">m_order = #{order},</if>
        updated_time = now()
        WHERE
        id = #{id}
    </update>
    <update id="updatePath" parameterType="com.metro.nccc.migration.model.po.auth.DepartmentUserEntity">
        <foreach collection="needUpdateData" separator=";" item="item">
            UPDATE
            a_department_user_records
            SET
            departmentpath =
            <foreach collection="item.departmentPath" separator="," item="departmentId" open="array[" close="],">
            #{departmentId}
            </foreach>
            updated_time = now()
            WHERE
            user_id = #{item.userId}
        </foreach>

    </update>

    <insert id="batchInsertPosition" useGeneratedKeys="true" keyProperty="id"
            parameterType="com.metro.nccc.migration.model.po.auth.DepartmentEntity">
        INSERT INTO
        a_department_records
        (name, parent_id,m_order,type)
        VALUES
        <foreach collection="list" item="emp" separator=",">
            (#{emp.name},#{emp.parentId},0,3)
        </foreach>
    </insert>
    <insert id="batchInsertDepartUser"  parameterType="com.metro.nccc.migration.model.po.auth.DepartmentUserEntity">
        INSERT INTO
        a_department_user_records
        (department_id, user_id,departmentpath)
        VALUES
        <foreach collection="list" item="emp" separator=",">
            (#{emp.departmentId},#{emp.userId},
            <foreach collection="emp.departmentPath" open="array[" close="]" item="departId" separator=",">
                #{departId}
            </foreach>
            )
        </foreach>
    </insert>
</mapper>